.cell {
  border: 1px solid rgb(186, 186, 186); /* TODO */
  width: 7em;
  height: 2em;
  vertical-align: middle; /* TODO */
}

.cell.mouseOver {
  border-color:#4882ded6;
}

.cell input {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.cell.isEditing input {
  background-color:#99b3ddd6;
}