@import '../../../index';

.cell {
  border: 1px solid rgb(186, 186, 186);
  width: 7em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;

  &:hover {
    border-color: #4882ded6;
  }

  input {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
  }

  &.isEditing {
    input {
      background-color: #99b3ddd6;
    }
  }
}